<div class="container" ng-controller="DishDetailController">
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt={{dish.name}}>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <h4>Customer Comments
                <small>Sort by: <input type="text" ng-model="orderText"></small>
            </h4>
            <ul>
                <li class="list-unstyled"
                    ng-repeat="comment in dish.comments | orderBy:orderText">
                    <blockquote>
                        <h4>{{comment.rating}} Stars</h4>
                        <p>{{comment.comment}}</p>
                    </blockquote>
                </li>
                <li class="list-unstyled" ng-show="!dishCommentForm.$pristine && loggedIn">
                    <blockquote>
                        <h4>{{dishComment.rating}} Stars</h4>
                        <p>{{dishComment.comment}}</p>
                    </blockquote>
                </li>
            </ul>
            <form class="form-horizontal" role="form" name="dishCommentForm" ng-submit="submitComment()" novalidate ng-show="loggedIn">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <div class="radio-inline">
                            <label><input type="radio" name="rating" value="1"
                                          ng-model="dishComment.rating">1</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="rating" value="2"
                                          ng-model="dishComment.rating">2</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="rating" value="3"
                                          ng-model="dishComment.rating">3</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="rating" value="4"
                                          ng-model="dishComment.rating">4</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="rating" value="5"
                                          ng-model="dishComment.rating" ng-checked="true">5</label>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : dishCommentForm.comment.$error.required && !dishCommentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12"
                                  ng-model="dishComment.comment" required></textarea>
                        <span ng-show="dishCommentForm.comment.$error.required && !dishCommentForm.comment.$pristine"
                              class="help-block">Comment is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="dishCommentForm.$invalid">
                            Submit Comment
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
